* { 
    padding: 0;
    margin: 0;
}

#profile-image {
    display: block;
    margin-top: 20px;
}

#profile-image img {
    width: 100%;
    margin: auto;
    display: block;
    border: 1px solid #e9ecef;
    border-top: 40px solid #e9ecef;
    border-radius: 5px 5px;
    box-sizing: border-box;
}

#profile-info {
    margin-top: 20px;
}

.custom-file {
    margin-top: 10px;
}

@media only screen and (max-width: 768px){
    #profile {
        position: absolute;
        right: 20px;
    }

    .welkom-message {
        display: none;
    }

    #profile-image {
        margin-top: 20px;
    }

    #profile-info {
        margin-top: 15px;
    }

    #profile-info button {
        margin-bottom: 20px;
    }
}